/*** basic-reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
	text-size-adjust: 110%;
	-webkit-text-size-adjust: 110%;
	-moz-text-size-adjust: 110%;
	-o-text-size-adjust: 110%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

strong {
	font-weight: bold;
}

.clearfix::after {
	clear: both;
	display: block;
	content: "";
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}

a:hover {
	text-decoration: none;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
}

img {
	vertical-align: top;
	width: 100%;
	border: 0;
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
}

.blind {
	position: absolute;
	top: -9999999px;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}

.underline {
	text-decoration: underline !important;
	text-underline-offset: 2px;
}

:focus {
	outline: none;
}

:disabled {
	cursor: auto !important;
}

input::placeholder, input::-webkit-input-placeholder {
	color: var(--base-white-04);
	font-family: inherit;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

select option {
	color: #000;
}

input {
	border: 0;
	background-color: transparent;
}

input[readonly=readonly] {
	cursor: default;
}

input[readonly], textarea[readonly] {
	cursor: default;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px var(--base-white) inset;
	box-shadow: 0 0 0 1000px var(--base-white) inset;
	-webkit-text-fill-color: var(--gowith-white) !important;
}

input[type=text]::-webkit-outer-spin-button,
input[type=text]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input {
	font-size: inherit;
	color: inherit;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: inherit;
	padding: 0;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}

.fixed {
	overflow: hidden !important;
}

input[type=radio], input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	width: 0;
	height: 0;
	position: absolute;
}

button {
	border: 0;
	font-size: inherit;
	background-color: transparent;
	line-height: inherit;
	cursor: pointer;
	padding: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	-webkit-tap-highlight-color: transparent;
}

label {
	cursor: pointer;
}

:root {
	--base-font: "Rubik", "NotoSansKR", sans-serif;
	--RubikNoto-font: "RubikNoto", sans-serif;
	--RubikNoto-font2: "RubikNoto2", sans-serif;
	--RubikNoto-font3: "RubikNoto3", sans-serif;
	--base-black: #000000;
	--base-white: #FFFFFF;
	--base-white-07: rgba(255, 255, 255, 0.7);
	--color-contrasty2: #222222;
	--color-contrasty3: #333333;
	--color-contrasty54: #545454;
	--color-contrasty61: #616161;
	--color-contrasty75: #757575;
	--color-contrasty85: #858585;
	--color-contrasty9E: #9E9E9E;
	--color-contrastyA: #AAAAAA;
	--color-contrastyBD: #BDBDBD;
	--color-contrastyC: #CCCCCC;
	--color-contrastyC8: #C8C8C8;
	--color-contrastyE: #EEEEEE;
	--color-contrastyE0: #E0E0E0;
	--color-contrastyE5: #E5E5E5;
	--color-contrastyF5: #F5F5F5;
	--color-contrastyFA: #FAFAFA;
	--color-red: #FF334B;
	--color-red2: #FF5C6F;
	--color-blue: #4F7EFF;
	--color-green: #06C755;
	--btn-blue: #1E51A4;
	--btn-skyblue: #67B2E7;
	--btn-gray: #AAAAAA;
	--btn-gray2: #BDBDBD;
	--btn-gray3: #666666;
}

/*** //basic-reset ***/
/*** white-space + text-overflow ***/
.WTO {
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.WTOB {
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block !important;
}

/*** //white-space + text-overflow ***/
/*# sourceMappingURL=reset.css.map */

/** setting **/
.box-hide {
	display: none !important;
}

/** //setting **/
body {
	color: var(--color-contrasty2);
	line-height: 1;
	font-family: var(--base-font);
}

#wrap {
	position: relative;
	width: 100vw;
	min-width: 1920px;
	min-height: 955px;
	overflow: hidden;
}

/** header **/
#header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	margin-left: 0px;
	border-bottom: 1px solid var(--color-contrastyE0);
}
#header .header-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 30px;
	height: 70px;
}
#header .header-wrap .h-logo {
	margin-right: 30px;
}
#header .header-wrap .h-logo a {
	font-size: 0px;
	background: center/auto no-repeat;
	display: block;
	width: 99px;
	height: 18px;
	background-image: url("../images/h_logo.png");
}
#header .header-wrap .nav ul {
	display: flex;
	gap: 20px;
}
#header .header-wrap .nav ul a {
	font-size: 16px;
	font-Weight: 500;
	position: relative;
	transition: all 0.2s;
}
#header .header-wrap .nav ul a::after {
	position: absolute;
	top: calc(100% + 2px);
	right: 50%;
	display: block;
	content: "";
	width: 0;
	height: 2px;
	background-color: #E0A969;
	transition: all 0.2s;
}
#header .header-wrap .nav ul a:hover {
	color: #E0A969;
}
#header .header-wrap .nav ul a:hover::after {
	right: 0;
	width: 100%;
}

/** //header **/
/** footer **/
#footer {
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top: 1px solid var(--color-contrastyE0);
	height: 180px;
	background-color: var(--color-contrastyF5);
}
#footer .footer-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

/** //footer **/
/** app **/
#app {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#app.error {
	display: flex;
	align-items: center;
	background: center/cover no-repeat;
	background-image: url("../images/error_bg.png");
	padding: 0px 140px;
}
#app.error.access {
	background-image: url("../images/access_bg.png");
}

/* event */
.roulette-wrap {
	display: flex;
	justify-content: center;
}
.roulette-wrap .roulette-box {
	position: relative;
	width: 400px;
}
.roulette-wrap .roulette-box .roulette-img {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	transition: all 1s;
}
.roulette-wrap .roulette-box .roulette-img img {
	transition: all 1s 0.7s;
}
.roulette-wrap .roulette-box .roulette-arrow {
	position: absolute;
	top: -10px;
	right: 50%;
	font-size: 0px;
	margin-top: 0px;
	margin-right: -4px;
	margin-bottom: 0px;
	margin-left: 0px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	width: 8px;
	height: 40px;
	border-radius: 3px;
	background-color: var(--color-contrasty3);
}
.roulette-wrap .roulette-box .roulette-btn {
	position: absolute;
	top: 50%;
	right: 50%;
	font-size: 18px;
	font-Weight: 500;
	border: 1px solid var(--color-contrasty2);
	margin-top: -50px;
	margin-right: -50px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: var(--base-white);
}
.roulette-wrap .roulette-box .roulette-btn:hover {
	font-Weight: var(--base-white);
	background-color: var(--color-contrasty2);
}

/* //event */
/* myPage */
.myPage-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.myPage-wrap .myPage-snb {
	width: 300px;
}
.myPage-wrap .myPage-snb ul li + li {
	margin-top: 16px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.myPage-wrap .myPage {
	width: calc(100% - 360px);
}

/* myPage */
/* default-setting */
table {
	border-collapse: collapse;
}
table tr th, table tr td {
	border: 1px solid var(--color-contrasty2);
	padding: 10px 10px;
}

button {
	padding: 8px 16px;
	border: 1px solid var(--color-contrasty2);
	border-radius: 4px;
	background-color: var(--base-white);
	transition: all 0.2s;
}
button:hover {
	color: var(--base-white);
	background-color: var(--color-contrasty2);
}

.flex-table {
	background: var(--base-white);
	height: 100%;
}
.flex-table .tr {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-contrastyF5);
	width: 100%;
}
.flex-table .tr.no-list {
	height: 100%;
	align-items: center;
	justify-content: center;
	border-bottom: none;
}
.flex-table .tr.no-list .td {
	padding-top: 68px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 14px;
	font-Weight: 500;
	color: var(--color-contrastyA);
	background: center top/auto no-repeat;
	background-image: url("../images/no_list_icon.png");
}
.flex-table .thead .tr {
	padding: 9px 40px;
}
.flex-table .thead .tr > * {
	font-size: 11px;
	font-Weight: 700;
	color: var(--color-contrastyA);
}
.flex-table .tbody {
	border-bottom: 1px solid var(--color-contrastyF5);
	height: calc(100% - 30px);
	background-color: var(--base-white);
	overflow: hidden;
}
.flex-table .tbody .tr {
	font-size: 14px;
	font-Weight: 500;
	line-height: 20px;
	padding-top: 16px;
	padding-right: 40px;
	padding-bottom: 17px;
	padding-left: 40px;
	font-family: "RubikNoto2", sans-serif;
	align-self: center;
}
.flex-table .tbody .tr b {
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-Weight: 700;
}
.flex-table .tbody .tr:last-of-type {
	border-bottom: none;
}

.ip-box input[type=text], .ip-box input[type=password], .ip-box input[type=date], .ip-box input[type=datetime-local] {
	font-size: 14px;
	font-Weight: 500;
	padding: 0px 10px;
	border: 1px solid var(--color-contrastyC);
	height: 40px;
	width: 100%;
	background: var(--base-white);
	border-radius: 4px;
	font-family: "RubikNoto";
}
.ip-box input[type=text]::placeholder, .ip-box input[type=password]::placeholder, .ip-box input[type=date]::placeholder, .ip-box input[type=datetime-local]::placeholder {
	color: var(--color-contrastyC);
}
.ip-box input[type=text]:disabled, .ip-box input[type=password]:disabled, .ip-box input[type=date]:disabled, .ip-box input[type=datetime-local]:disabled {
	background-color: var(--color-contrastyF5);
}
.ip-box.ip-ico-box {
	position: relative;
}
.ip-box.ip-ico-box .btn-box.type1 {
	position: absolute;
	top: 6px;
	right: 6px;
}
.ip-box.ip-ico-box .btn-box.type1 button {
	font-size: 12px;
	font-Weight: 800;
	border: 1px solid var(--color-contrastyE5);
	background-color: var(--color-contrastyF5);
	width: 70px;
	height: 38px;
	border-radius: 4px;
}
.ip-box.ip-ico-box .btn-box.type1 button:hover {
	font-Weight: var(--base-white);
	transition: all 0.2s;
	border-color: var(--color-contrasty2);
	background-color: var(--color-contrasty2);
}
.ip-box.ip-ico-box .btn-box.type2 {
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 20px;
	height: 20px;
}
.ip-box.ip-ico-box .btn-box.type2 button {
	background: center/auto no-repeat;
	background-image: url("../images/ico/ico_search.png");
	font-size: 0;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
.ip-box.ip-ico-box .btn-box.type2.ico-big {
	margin-top: -12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 24px;
	height: 24px;
}
.ip-box.ip-ico-box .btn-box.type2.ico-big button {
	background-image: url("../images/ico/ico_search2.png");
}
.ip-box.ip-ico-box .btn-box.type2.ico-small {
	margin-top: -8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 16px;
	height: 16px;
}
.ip-box.ip-ico-box .btn-box.type2.ico-small button {
	background-image: url("../images/ico/ico_search3.png");
}
.ip-box.ip-ico-box input {
	padding-top: 0px;
	padding-right: 44px;
	padding-bottom: 0px;
	padding-left: 16px;
}
.ip-box.ip-txt-box {
	position: relative;
}
.ip-box.ip-txt-box .txt {
	position: absolute;
	top: 50%;
	right: 16px;
	font-size: 14px;
	font-Weight: 700;
	color: var(--color-contrastyC);
	margin-top: -6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ip-box.ip-txt-box input {
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 16px;
}

.ip-chk {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.ip-chk label {
	font-size: 0px;
	background: left center/auto no-repeat;
	background-image: url("../images/ico/ico_check.png");
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
}
.ip-chk input[type=checkbox]:checked + label {
	background-image: url("../images/ico/ico_check1_2.png");
}

.ip-chk-txt {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ip-chk-txt label {
	font-size: 14px;
	font-Weight: 700;
	color: var(--color-contrastyA);
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 24px;
	background: left center/auto no-repeat;
	background-image: url("../images/ico/ico_check.png");
	cursor: pointer;
}
.ip-chk-txt input[type=checkbox]:checked + label {
	background-image: url("../images/ico/ico_check1_2.png");
	color: var(--color-contrasty2);
}

.ip-ra {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.ip-ra label {
	font-size: 0px;
	background: left center/auto no-repeat;
	background-image: url("../images/ico/ico_radio.png");
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
}
.ip-ra input[type=radio]:checked + label {
	background-image: url("../images/ico/ico_radio1_2.png");
}

.ip-ra-txt label {
	font-size: 14px;
	font-Weight: 700;
	color: var(--color-contrastyA);
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 24px;
	background: left center/auto no-repeat;
	background-image: url("../images/ico/ico_radio.png");
	cursor: pointer;
}
.ip-ra-txt input[type=radio]:checked + label {
	background-image: url("../images/ico/ico_radio1_2.png");
	color: var(--color-contrasty2);
}

.ip-list .tit-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.ip-list .tit-box .tit {
	font-size: 14px;
	font-Weight: 700;
	color: var(--color-contrastyA);
}
.ip-list .bot-box {
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
	width: 100%;
}
.ip-list .bot-box .ip-ul .bot-box {
	padding: 0px 16px;
	margin: 0;
}
.ip-list .ip-box.ip-ico-box input {
	padding-top: 0px;
	padding-right: 82px;
	padding-bottom: 0px;
	padding-left: 16px;
}

.tab-default {
	display: flex;
	align-items: center;
	padding: 0px 40px;
	border-bottom: 1px solid var(--color-contrastyE0);
	height: 40px;
	background-color: var(--base-white);
}
.tab-default button {
	font-size: 14px;
	font-Weight: 700;
	color: var(--color-contrastyA);
	transition: all 0.2s;
}
.tab-default button + button {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
}
.tab-default button.active, .tab-default button:hover {
	color: var(--color-contrasty2);
}

.list-none-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.list-none-box .txt {
	font-size: 14px;
	font-Weight: 500;
	color: var(--color-contrastyA);
	line-height: 20px;
	padding-top: 68px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background: center top/auto no-repeat;
	background-image: url("../images/no_list_icon.png");
	min-width: 64px;
	text-align: center;
}

.pagenation {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagenation button {
	background: center/auto no-repeat;
	width: 34px;
	height: 34px;
	transform: all 0.2s;
	border-radius: 4px;
}
.pagenation button.num {
	font-size: 12px;
	font-Weight: 400;
	color: var(--color-contrasty3);
	border: 1px solid transparent;
	background-color: transparent;
}
.pagenation button.next, .pagenation button.prev {
	font-size: 0px;
	border: 1px solid var(--color-contrastyE0);
	background-color: var(--base-white);
}
.pagenation button.prev {
	margin-top: 0px;
	margin-right: 12px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url("../images/ico/ico_page_prev.png");
}
.pagenation button.next {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	background-image: url("../images/ico/ico_page_next.png");
}
.pagenation button.active, .pagenation button:hover {
	border-color: var(--color-contrasty3);
	background-color: var(--base-white);
}

/* //default-setting */
/* keyframes */
/* //keyframes */
/** //container **/
/*# sourceMappingURL=style.css.map */
